<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3> Create a new Listing</h3> <br> <br> 
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
         <div class="mb-3">
             <label for="title" class="form-label">Title</label>
            <input placeholder="Add catchy title" name="listing[title]" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
         </div>
         <br> 

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea placeholder="enter description" name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <br>
<!-- 
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input placeholder="enter image URL/link" name="listing[image]" type="text" class="form-control">
        </div>
        <br>  -->

        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" type="file" class="form-control" required>
        </div>
        <br> 

        <div class="row">
             <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input placeholder="1200" name="listing[price]" class="form-control" required>
                <div class="invalid-feedback">Enter a valid price</div>
            </div>

            <div class="mb-3 col-8">
                <label for="Country" class="form-label">Country</label>
                <input placeholder="India" name="listing[country]" type="text" class="form-control" required>
                 
            </div>

        </div>
       
        <br> <br>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input placeholder="Delhi" name="listing[location]" type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br> 

        <button class="btn btn-dark add-btn mt-3"> Add</button>
        </form>
    </div>
</div>
<br> <br>